[2020-04-08 11:37] g4s8 opened #1 "Initial implementation"
Add documentation about Helm repository,
create metadata generators,
create HTTP API,
add integration tests.

Blocked by #8

[2020-04-08 11:37] 0crat commented on #1
@g4s8[/z](https://www.0crat.com/u/g4s8) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](

[2020-04-08 11:37] 0crat commented on #1
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-04-15 08:41] Guseyn opened #2 "initial setup + docs"

[2020-04-15 08:41] 0crat commented on #2
@guseyn[/z](https://www.0crat.com/u/guseyn) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[

[2020-04-15 16:43] #2 closed

[2020-04-15 16:43] 0crat commented on #2
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-18 12:37] Sammers21 commented on #1
@g4s8, assign the issue to me

[2020-05-18 12:37] 0crat commented on #1
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-18 12:39] Sammers21 opened #8 "Index.yml file generation"
According to [the official documentation](https://helm.sh/docs/topics/chart_repository/#the-index-file), `index.yml` is the primary metadata file in a chart repo, which contains all the metadata information concerning a registry.

This issue suggest implementing `index.yml` file generation.

[2020-05-18 12:39] 0crat commented on #8
@sammers21[/z](https://www.0crat.com/u/sammers21) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-18 12:43] 0crat commented on #1
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/helm-adapter#1, Action: `assigned`

[2020-05-18 13:08] g4s8 commented on #8
@Sammers21

It's not a pull request actually. Is it a kind of subtask for #1 ticket?

[2020-05-18 13:35] Sammers21 commented on #8
@g4s8,Yes

[2020-05-18 13:36] Sammers21 commented on #1
Implementation progress:

- [ ] index.yml generation

[2020-05-19 08:07] 0crat commented on #8
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-22 11:56] Sammers21 opened #11 "Authorization support"
Helm support basic authorization. We need to implement it:
[code]

[2020-05-22 11:58] Sammers21 opened #12 "How packages are pushed?"
By default, helm does not have a push functionality. The functionality can be enabled by [the helm-push plugin](https://github.com/chartmuseum/helm-push).

[2020-05-22 11:58] 0crat commented on #12
@sammers21[/z](https://www.0crat.com/u/sammers21) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yeg

[2020-05-22 12:37] g4s8 commented on #11
@Sammers21 that's good, you can use `BasicIdentities` for HTTP basic from http module: https://github.com/artipie/http/blob/ff7654f89cb6bf3c7970e7d697e1d9f6c6d58d53/src/main/java/com/artipie/http/auth/BasicIdentities.java

[2020-05-22 12:37] 0crat commented on #11
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-22 12:38] g4s8 commented on #12
@Sammers21 yes, I think we can support this API

[2020-05-22 12:38] 0crat commented on #12
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-22 12:39] g4s8 commented on #1
@rultor release, tag=`0.1`

[2020-05-22 12:40] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22142-632670394)

[2020-05-22 12:42] rultor commented on #1
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22142-632670394) (spent 2min)

[code]

[2020-05-22 12:47] g4s8 commented on #1
@rultor release, tag=`0.1.1`

[2020-05-22 12:47] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22142-632673284)

[2020-05-22 12:49] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22142-632673284) (took me 2min)

[2020-05-22 13:02] #1 closed

[2020-05-22 13:04] 0crat commented on #1
I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2020-05-22 13:50] 0pdd opened #14 "PushChartSlice.java:38-39: Create an integration test We..."
The puzzle `13-c14a4213` from #13 has to be resolved:

https://github.com/artipie/helm-adapter/blob/72543e9971a445546af4ab497a698067591808cf/src/main/java/com/artipie/helm/PushChartSlice.java#L38-L39

The puzzle was created by @Sammers21 on 22-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-22 13:51] 0pdd opened #15 "PushChartSlice.java:63-65: Implement PushChart endpoint..."
The puzzle `13-d5c3ea9d` from #13 has to be resolved:

https://github.com/artipie/helm-adapter/blob/72543e9971a445546af4ab497a698067591808cf/src/main/java/com/artipie/helm/PushChartSlice.java#L63-L65

The puzzle was created by @Sammers21 on 22-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-22 13:52] 0crat commented on #15
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](

[2020-05-22 13:52] 0crat commented on #14
@0pdd[/z](https://www.0crat.com/u/0pdd) I'm not managing this repo, remove the [webhook](https://github.com/artipie/helm-adapter/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `artipie/helm-adapter` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor256[/z](

[2020-05-25 13:51] g4s8 commented on #1
@rultor release, tag=`0.1.2`

[2020-05-25 13:52] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22142-633583035)

[2020-05-25 13:52] rultor commented on #1
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22142-633583035) (spent 16s)

[code]

[2020-05-25 14:19] g4s8 commented on #1
@rultor release, tag=`0.1.2`

[2020-05-25 14:20] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22142-633594609)

[2020-05-25 14:21] rultor commented on #1
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22142-633594609) (spent 18s)

[code]

[2020-05-25 16:38] g4s8 commented on #1
@rultor release, tag=`0.1.2`

[2020-05-25 16:39] rultor commented on #1
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22142-633646653)

[2020-05-25 16:47] rultor commented on #1
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22142-633646653) (took me 8min)

[2020-05-28 06:27] #15 closed

[2020-05-28 06:27] 0pdd commented on #15
The puzzle `13-d5c3ea9d` has disappeared from the source code, that's why I closed this issue.

[2020-05-28 06:27] 0pdd opened #17 "PushChartSlice.java:88-90: Generate TgzArchive from byte..."
The puzzle `12-4acc03fc` from #12 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2172aad58a34357706baef1b1c56b5550c58356/src/main/java/com/artipie/helm/PushChartSlice.java#L88-L90

The puzzle was created by @Sammers21 on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-05-28 06:27] 0pdd opened #18 "IndexYaml.java:63-65: Update Index file operation For now..."
The puzzle `8-2526c766` from #8 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2172aad58a34357706baef1b1c56b5550c58356/src/main/java/com/artipie/helm/IndexYaml.java#L63-L65

The puzzle was created by @Sammers21 on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-05-28 06:27] 0pdd opened #19 "TgzArchive.java:32-33: Test for TgzArchive For now this..."
The puzzle `12-ae19aa75` from #12 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2172aad58a34357706baef1b1c56b5550c58356/src/main/java/com/artipie/helm/TgzArchive.java#L32-L33

The puzzle was created by @Sammers21 on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-05-28 06:27] 0pdd opened #20 "TgzArchive.java:64-66: TgzArchive name method For now..."
The puzzle `12-e4bf7d8b` from #12 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2172aad58a34357706baef1b1c56b5550c58356/src/main/java/com/artipie/helm/TgzArchive.java#L64-L66

The puzzle was created by @Sammers21 on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-05-28 06:27] 0pdd opened #21 "TgzArchive.java:76-78: Save the archive into Asto. For..."
The puzzle `12-328a6b37` from #12 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2172aad58a34357706baef1b1c56b5550c58356/src/main/java/com/artipie/helm/TgzArchive.java#L76-L78

The puzzle was created by @Sammers21 on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-05-28 06:27] 0pdd commented on #12
@Sammers21 4 puzzles [#17](https://github.com/artipie/helm-adapter/issues/17), [#19](https://github.com/artipie/helm-adapter/issues/19), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21) are still not solved.

[2020-05-28 06:27] 0pdd commented on #8
@Sammers21 the puzzle [#18](https://github.com/artipie/helm-adapter/issues/18) is still not solved.

[2020-05-28 06:28] 0crat commented on #21
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 06:28] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 06:29] 0crat commented on #19
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 06:29] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 06:29] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 06:46] 0crat commented on #15
Job `gh:artipie/helm-adapter#15` is not assigned, can't get performer

[2020-05-28 06:46] 0crat commented on #17
The job [#17](https://github.com/artipie/helm-adapter/issues/17) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6cbfe2c0-998f-4537-ade2-43a65367719b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 06:47] 0crat commented on #21
The job [#21](https://github.com/artipie/helm-adapter/issues/21) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3550b695-db44-4f6b-8150-83510bbd6f58); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 06:47] 0crat commented on #18
The job [#18](https://github.com/artipie/helm-adapter/issues/18) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/334ce195-75a8-45b3-b403-6f6e23e8af8a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 06:47] 0crat commented on #14
The job [#14](https://github.com/artipie/helm-adapter/issues/14) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/56d49146-3b1f-4775-bad8-264c936b9eca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 06:48] 0crat commented on #19
The job [#19](https://github.com/artipie/helm-adapter/issues/19) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b7e2ade6-1859-4295-81c2-d384b8415478); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 06:48] 0crat commented on #20
The job [#20](https://github.com/artipie/helm-adapter/issues/20) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f8f7d0ea-0a84-4410-b1b8-5f951bd90ad4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-28 15:56] #17 closed

[2020-05-28 15:56] 0pdd commented on #17
The puzzle `12-4acc03fc` has disappeared from the source code, that's why I closed this issue.

[2020-05-28 15:56] 0pdd commented on #12
@Sammers21 3 puzzles [#19](https://github.com/artipie/helm-adapter/issues/19), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21) are still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17).

[2020-05-28 16:14] 0crat commented on #17
Job was finished in 9 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-28 16:14] 0crat commented on #17
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-28 17:17] sereshqua commented on #17
@0crat quality good

[2020-05-29 12:11] #20 closed

[2020-05-29 12:11] 0pdd commented on #20
The puzzle `12-e4bf7d8b` has disappeared from the source code, that's why I closed this issue.

[2020-05-29 12:11] 0pdd commented on #12
@Sammers21 2 puzzles [#19](https://github.com/artipie/helm-adapter/issues/19), [#21](https://github.com/artipie/helm-adapter/issues/21) are still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17), [#20](https://github.com/artipie/helm-adapter/issues/20).

[2020-05-29 12:29] 0crat commented on #20
Job was finished in 29 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-30 15:20] sereshqua commented on #20
@0crat quality good

[2020-06-01 12:56] #21 closed

[2020-06-01 12:56] 0pdd commented on #21
The puzzle `12-328a6b37` has disappeared from the source code, that's why I closed this issue.

[2020-06-01 12:56] 0pdd opened #26 "TgzArchive.java:142-144: Reimplement with slices Instead..."
The puzzle `21-a79af815` from #21 has to be resolved:

https://github.com/artipie/helm-adapter/blob/b4282778d322610be567cc40fec3bfb084ce9a75/src/main/java/com/artipie/helm/TgzArchive.java#L142-L144

The puzzle was created by @Sammers21 on 01-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-06-01 12:56] 0pdd commented on #12
@Sammers21 2 puzzles [#19](https://github.com/artipie/helm-adapter/issues/19), [#26](https://github.com/artipie/helm-adapter/issues/26) are still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21).

[2020-06-01 12:56] 0pdd commented on #21
@0pdd the puzzle [#26](https://github.com/artipie/helm-adapter/issues/26) is still not solved.

[2020-06-01 12:57] 0crat commented on #26
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-01 13:14] 0crat commented on #21
Job [#21](https://github.com/artipie/helm-adapter/issues/21) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-06-01 13:15] 0crat commented on #21
Job [#21](https://github.com/artipie/helm-adapter/issues/21) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-06-01 13:15] 0crat commented on #21
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-01 13:16] sereshqua commented on #21
@0crat quality good

[2020-06-01 13:26] #26 closed

[2020-06-01 13:26] 0pdd commented on #26
The puzzle `21-a79af815` has disappeared from the source code, that's why I closed this issue.

[2020-06-01 13:26] 0pdd commented on #12
@Sammers21 the puzzle [#19](https://github.com/artipie/helm-adapter/issues/19) is still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21), [#26](https://github.com/artipie/helm-adapter/issues/26).

[2020-06-01 13:26] 0pdd commented on #21
@0pdd the only puzzle [#26](https://github.com/artipie/helm-adapter/issues/26) is solved here.

[2020-06-01 13:51] 0crat commented on #26
Job `gh:artipie/helm-adapter#26` is not assigned, can't get performer

[2020-06-02 07:46] 0crat commented on #19
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-02 07:46] 0crat commented on #14
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-02 07:46] 0crat commented on #18
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-04 12:42] 0pdd opened #29 "TarArchiveTest.java:62-64: Replace FileStorage with..."
The puzzle `19-c97efbaf` from #19 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d2f3b0bf342a951fa6242dffc68ca9d45d158653/src/test/java/com/artipie/helm/TarArchiveTest.java#L62-L64

The puzzle was created by @Sammers21 on 04-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-06-04 12:42] 0pdd commented on #12
@Sammers21 2 puzzles [#19](https://github.com/artipie/helm-adapter/issues/19), [#29](https://github.com/artipie/helm-adapter/issues/29) are still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21), [#26](https://github.com/artipie/helm-adapter/issues/26).

[2020-06-04 12:42] 0pdd commented on #19
@0pdd the puzzle [#29](https://github.com/artipie/helm-adapter/issues/29) is still not solved.

[2020-06-04 12:44] 0crat commented on #29
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-09 06:57] 0crat commented on #14
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#14](https://github.com/artipie/helm-adapter/issues/14), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-09 06:57] 0crat commented on #19
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#19](https://github.com/artipie/helm-adapter/issues/19), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-09 06:57] 0crat commented on #18
Job `gh:artipie/helm-adapter#18` is not assigned, can't get performer

[2020-06-09 06:57] 0crat commented on #18
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#18](https://github.com/artipie/helm-adapter/issues/18), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-09 08:48] 0crat commented on #14
The job [#14](https://github.com/artipie/helm-adapter/issues/14) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4e3662e2-e9ca-446a-b6d3-6f4dbb0ca300); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-06-09 09:58] 0crat commented on #19
The job [#19](https://github.com/artipie/helm-adapter/issues/19) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/83c22409-22d3-4bc8-9529-b5d2a1770168); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-06-09 12:48] 0crat commented on #18
The job [#18](https://github.com/artipie/helm-adapter/issues/18) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/847e7172-226e-42da-b5b6-500f77a71157); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-06-09 13:15] #18 closed

[2020-06-09 13:15] 0pdd commented on #18
The puzzle `8-2526c766` has disappeared from the source code, that's why I closed this issue.

[2020-06-09 13:15] 0pdd opened #31 "IndexYaml.java:112-114: Implement IndexYaml#empty For now..."
The puzzle `89-bbfe0d9a` from #89 has to be resolved:

https://github.com/artipie/helm-adapter/blob/be7abd13eba286fe18fbf997f8f06ddd6c0ac79c/src/main/java/com/artipie/helm/IndexYaml.java#L112-L114

The puzzle was created by @Sammers21 on 08-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-09 13:15] 0pdd opened #32 "IndexYaml.java:124-127: Implement IndexYaml#empty This..."
The puzzle `89-cdf59b8a` from #89 has to be resolved:

https://github.com/artipie/helm-adapter/blob/be7abd13eba286fe18fbf997f8f06ddd6c0ac79c/src/main/java/com/artipie/helm/IndexYaml.java#L124-L127

The puzzle was created by @Sammers21 on 08-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-09 13:15] 0pdd commented on #8
@Sammers21 the only puzzle [#18](https://github.com/artipie/helm-adapter/issues/18) is solved here.

[2020-06-09 13:15] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-09 13:16] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-09 13:33] 0crat commented on #18
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-09 13:34] 0crat commented on #18
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-09 14:59] sereshqua commented on #18
@g4s8 i think we have a problem here: issue has been done by @Sammers21, but I should be evaluating @victornoel

[2020-06-10 07:00] sereshqua commented on #18
@0crat quality bad

[2020-06-10 07:08] 0crat commented on #18
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-06-11 11:55] #19 closed

[2020-06-11 11:55] 0pdd commented on #19
The puzzle `12-ae19aa75` has disappeared from the source code, that's why I closed this issue.

[2020-06-11 11:56] 0pdd commented on #12
@Sammers21 the puzzle [#29](https://github.com/artipie/helm-adapter/issues/29) is still not solved; solved: [#17](https://github.com/artipie/helm-adapter/issues/17), [#19](https://github.com/artipie/helm-adapter/issues/19), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21), [#26](https://github.com/artipie/helm-adapter/issues/26).

[2020-06-11 12:08] victornoel commented on #19
@0crat status

[2020-06-11 12:14] 0crat commented on #19
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#19](https://github.com/artipie/helm-adapter/issues/19) is [in scope](http://www.zerocracy.com/policy.html#14) for 14days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [2days](http://www.zerocracy.com/policy.html

[2020-06-11 12:15] Sammers21 opened #35 "TgzArchive#file should be a part of a public contract"
TgzArchive#file could be useful when you need a specific file from the archive.

[2020-06-11 12:15] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 12:21] victornoel commented on #19
@0crat status

[2020-06-11 12:31] 0crat commented on #19
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#19](https://github.com/artipie/helm-adapter/issues/19) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fhelm-adapter%2319%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-11 14:53] victornoel commented on #19
@g4s8 0crat didn't pay me also for this issue

[2020-06-13 08:55] victornoel commented on #19
@g4s8 actually I was paid but not notified via telegram

[2020-06-15 10:38] #32 closed

[2020-06-15 10:38] 0pdd commented on #32
The puzzle `89-cdf59b8a` has disappeared from the source code, that's why I closed this issue.

[2020-06-15 10:38] 0pdd opened #40 "IndexYaml.java:146-148: Digest field One of the fields..."
The puzzle `32-3a6b6984` from #32 has to be resolved:

https://github.com/artipie/helm-adapter/blob/1aa237505bc1952d4a2c8fc9c579db750cfb5dec/src/main/java/com/artipie/helm/IndexYaml.java#L146-L148

The puzzle was created by @Sammers21 on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-15 10:38] 0pdd opened #41 "IndexYaml.java:149-151: Create a unit test for digest..."
The puzzle `32-66701d6b` from #32 has to be resolved:

https://github.com/artipie/helm-adapter/blob/1aa237505bc1952d4a2c8fc9c579db750cfb5dec/src/main/java/com/artipie/helm/IndexYaml.java#L149-L151

The puzzle was created by @Sammers21 on 15-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-15 10:38] 0pdd opened #42 "IndexYaml.java:152-154: Urls field One of the fields..."
The puzzle `32-7ba44240` from #32 has to be resolved:

https://github.com/artipie/helm-adapter/blob/1aa237505bc1952d4a2c8fc9c579db750cfb5dec/src/main/java/com/artipie/helm/IndexYaml.java#L152-L154

The puzzle was created by @Sammers21 on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-15 10:38] 0pdd opened #43 "IndexYaml.java:155-157: Create a unit test for urls field..."
The puzzle `32-3ab761f4` from #32 has to be resolved:

https://github.com/artipie/helm-adapter/blob/1aa237505bc1952d4a2c8fc9c579db750cfb5dec/src/main/java/com/artipie/helm/IndexYaml.java#L155-L157

The puzzle was created by @Sammers21 on 15-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-06-15 10:38] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 10:38] 0pdd opened #44 "IndexYaml.java:46-48: Ensure that generation work In..."
The puzzle `1-043bc894` from #1 has to be resolved:

https://github.com/artipie/helm-adapter/blob/1aa237505bc1952d4a2c8fc9c579db750cfb5dec/src/main/java/com/artipie/helm/IndexYaml.java#L46-L48

The puzzle was created by @Sammers21 on 11-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-06-15 10:38] 0pdd commented on #32
@0pdd 4 puzzles [#40](https://github.com/artipie/helm-adapter/issues/40), [#41](https://github.com/artipie/helm-adapter/issues/41), [#42](https://github.com/artipie/helm-adapter/issues/42), [#43](https://github.com/artipie/helm-adapter/issues/43) are still not solved.

[2020-06-15 10:38] 0pdd commented on #1
@g4s8 the puzzle [#44](https://github.com/artipie/helm-adapter/issues/44) is still not solved.

[2020-06-15 10:38] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 10:40] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 10:41] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 10:41] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 10:59] 0crat commented on #32
Job `gh:artipie/helm-adapter#32` is not assigned, can't get performer

[2020-06-15 18:52] 0crat commented on #14
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-16 03:54] #31 closed

[2020-06-16 03:54] 0pdd commented on #31
The puzzle `89-bbfe0d9a` has disappeared from the source code, that's why I closed this issue.

[2020-06-16 04:11] 0crat commented on #31
Job `gh:artipie/helm-adapter#31` is not assigned, can't get performer

[2020-06-17 07:32] #40 closed

[2020-06-17 07:32] 0pdd commented on #40
The puzzle `32-3a6b6984` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 07:32] 0pdd commented on #32
@0pdd 3 puzzles [#41](https://github.com/artipie/helm-adapter/issues/41), [#42](https://github.com/artipie/helm-adapter/issues/42), [#43](https://github.com/artipie/helm-adapter/issues/43) are still not solved; solved: [#40](https://github.com/artipie/helm-adapter/issues/40).

[2020-06-17 07:58] 0crat commented on #40
Job `gh:artipie/helm-adapter#40` is not assigned, can't get performer

[2020-06-17 12:32] 0pdd commented on #42
The puzzle `32-7ba44240` has disappeared from the source code, that's why I closed this issue.

[2020-06-17 12:32] #42 closed

[2020-06-17 12:32] 0pdd commented on #32
@0pdd 2 puzzles [#41](https://github.com/artipie/helm-adapter/issues/41), [#43](https://github.com/artipie/helm-adapter/issues/43) are still not solved; solved: [#40](https://github.com/artipie/helm-adapter/issues/40), [#42](https://github.com/artipie/helm-adapter/issues/42).

[2020-06-17 12:57] 0crat commented on #42
Job `gh:artipie/helm-adapter#42` is not assigned, can't get performer

[2020-06-22 20:13] paulodamaso commented on #14
@0crat wait for #48

[2020-06-30 07:41] 0pdd opened #52 "SubmitChartITCase.java:83-85: Ensure that the generated..."
The puzzle `1-f8ff3e8f` from #1 has to be resolved:

https://github.com/artipie/helm-adapter/blob/a552f76d4aa1a2fd8e987558cae100b06f793901/src/test/java/com/artipie/helm/SubmitChartITCase.java#L83-L85

The puzzle was created by @Sammers21 on 29-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-06-30 07:41] 0pdd commented on #1
@g4s8 2 puzzles [#44](https://github.com/artipie/helm-adapter/issues/44), [#52](https://github.com/artipie/helm-adapter/issues/52) are still not solved.

[2020-06-30 07:42] 0crat commented on #52
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-01 08:10] #44 closed

[2020-07-01 08:10] 0pdd commented on #44
The puzzle `1-043bc894` has disappeared from the source code, that's why I closed this issue.

[2020-07-01 08:10] #52 closed

[2020-07-01 08:10] 0pdd commented on #52
The puzzle `1-f8ff3e8f` has disappeared from the source code, that's why I closed this issue.

[2020-07-01 08:10] 0pdd opened #53 "SubmitChartITCase.java:114-117: Bind reference repo to a..."
The puzzle `44-c6205a1b` from #44 has to be resolved:

https://github.com/artipie/helm-adapter/blob/2ad995274d55d25ba1e8085681190d7fb7ecf4ba/src/test/java/com/artipie/helm/SubmitChartITCase.java#L114-L117

The puzzle was created by @Sammers21 on 01-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-07-01 08:10] 0pdd commented on #1
@g4s8 the puzzle [#53](https://github.com/artipie/helm-adapter/issues/53) is still not solved; solved: [#44](https://github.com/artipie/helm-adapter/issues/44), [#52](https://github.com/artipie/helm-adapter/issues/52).

[2020-07-01 08:10] 0pdd commented on #44
@0pdd the puzzle [#53](https://github.com/artipie/helm-adapter/issues/53) is still not solved.

[2020-07-01 08:11] 0crat commented on #53
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-01 08:28] 0crat commented on #52
Job `gh:artipie/helm-adapter#52` is not assigned, can't get performer

[2020-07-01 08:29] 0crat commented on #44
Job `gh:artipie/helm-adapter#44` is not assigned, can't get performer

[2020-07-03 06:49] 0pdd commented on #53
The puzzle `44-c6205a1b` has disappeared from the source code, that's why I closed this issue.

[2020-07-03 06:49] #53 closed

[2020-07-03 06:49] 0pdd commented on #1
@g4s8 all 3 puzzles are solved here: [#44](https://github.com/artipie/helm-adapter/issues/44), [#52](https://github.com/artipie/helm-adapter/issues/52), [#53](https://github.com/artipie/helm-adapter/issues/53).

[2020-07-03 06:49] 0pdd commented on #44
@0pdd the only puzzle [#53](https://github.com/artipie/helm-adapter/issues/53) is solved here.

[2020-07-03 07:07] 0crat commented on #53
Job `gh:artipie/helm-adapter#53` is not assigned, can't get performer

[2020-07-07 08:39] 0pdd opened #57 "HelmSlice.java:45-47: Add a test to check if auth works..."
The puzzle `11-e613e413` from #11 has to be resolved:

https://github.com/artipie/helm-adapter/blob/b0c57d638763fcbe70c023286004ac83606d128b/src/main/java/com/artipie/helm/HelmSlice.java#L45-L47

The puzzle was created by @Sammers21 on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-07-07 08:39] 0pdd commented on #11
@Sammers21 the puzzle [#57](https://github.com/artipie/helm-adapter/issues/57) is still not solved.

[2020-07-07 08:40] 0crat commented on #57
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-07 08:56] 0crat commented on #57
The job [#57](https://github.com/artipie/helm-adapter/issues/57) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/26a14ffc-7f36-41ab-b604-f4bfbed05ffc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-08 07:24] g4s8 commented on #11
@rultor release, tag=`0.1.3`

[2020-07-08 07:25] rultor commented on #11
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22525-655339377)

[2020-07-08 07:32] rultor commented on #11
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22525-655339377) (took me 7min)

[2020-07-13 08:57] 0crat commented on #57
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-08-04 14:53] #8 closed

[2020-08-04 15:10] 0crat commented on #8
Job `gh:artipie/helm-adapter#8` is not assigned, can't get performer

[2020-10-22 11:59] olegmoz opened #72 "Migrate to HTTP 0.16.7, use BasicAuthSlice"
Migrate to HTTP `0.16.7`, use `BasicAuthSlice` instead of deprecated `SliceAuth` and `Identities`

[2020-10-22 12:02] 0crat commented on #72
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-23 11:58] #72 closed

[2020-10-23 12:00] olegmoz commented on #72
@rultor release, tag=`0.1.5`

[2020-10-23 12:01] rultor commented on #72
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23588-715298491)

[2020-10-23 12:10] rultor commented on #72
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23588-715298491) (took me 9min)

[2020-10-23 12:15] 0crat commented on #72
Job `gh:artipie/helm-adapter#72` is not assigned, can't get performer

[2020-11-09 23:03] genryxy opened #74 "Use another library for yaml"
Let's use `eo-yaml` instead of `snakeyaml` library for processing of `yaml` files as `eo-yaml` is used in all other repositories.
Also, add tests to make sure that the yaml update files does not corrupt the content.

The main task is to rework the method for updating the `index.yaml`. The following cases should be considered:
 * `entries` section isn't represented  in the `index.yaml`
 * `entries`

[2020-11-10 11:00] Sammers21 commented on #74
Reasonable, but when the project was started, `eo-yaml` formatting was broken, that is why `snakeyaml` was used. Are not it's still broken?

If it would be true, helm commands would fail; so it's false.

What is `node for chart name`?

Looks like this statement contradicts to the previous one.

Overall, it is a very strange issue description.

[2020-11-10 11:25] genryxy commented on #74
@Sammers21 thanks for your comments. I missed the point that not all arrays have double indents in the `chart.yaml`. So, I need to revert these changes.

It's possible case, when we only create `index.yaml`. At first, we use empty yaml.
`node for chart name` is a name from the `chart.yaml` file

It doesn't contradict to the previous one because chart can have several versions. And version for the

[2020-11-12 06:13] genryxy commented on #74
`eo-yaml` could not parse `index.yaml` due to the lack of indents  for array elements. So, this issue could be closed.

[2020-11-12 06:13] #74 closed

[2020-11-12 06:31] 0crat commented on #74
Job `gh:artipie/helm-adapter#74` is not assigned, can't get performer

[2020-11-12 15:05] #41 closed

[2020-11-12 15:05] 0pdd commented on #32
@0pdd the puzzle [#43](https://github.com/artipie/helm-adapter/issues/43) is still not solved; solved: [#40](https://github.com/artipie/helm-adapter/issues/40), [#41](https://github.com/artipie/helm-adapter/issues/41), [#42](https://github.com/artipie/helm-adapter/issues/42).

[2020-11-12 15:23] 0crat commented on #41
Job `gh:artipie/helm-adapter#41` is not assigned, can't get performer

[2020-11-13 06:24] genryxy opened #77 "Verify content of `index.yaml` for different cases"
Verify content of `index.yaml` file for different cases

- uploading the same chart does not change file
- uploading the chart with the same name but with a different version
- uploading the second new chart

[2020-11-17 08:17] #77 closed

[2020-12-02 13:03] #57 closed

[2020-12-02 13:03] 0pdd commented on #11
@Sammers21 the only puzzle [#57](https://github.com/artipie/helm-adapter/issues/57) is solved here.

[2020-12-24 07:30] genryxy opened #81 "Helm integration tests failing"
`HelmCompatibilityITCase#helmRepoAddAndUpdateWorks` test started to fail because of the following error:
[code]
The problem is related to the fact that https://kubernetes-charts.storage.googleapis.com/index.yaml as default stable repository is no longer allowed (https://stackoverflow.com/a/65404574/14676855). It is necessary to fix this problem.

[2020-12-24 11:47] #81 closed

[2020-12-24 12:10] 0crat commented on #81
Job `gh:artipie/helm-adapter#81` is not assigned, can't get performer

[2021-01-05 09:13] dingdaoyi opened #83 "We are going to use the helm-adapter. Please look at the following issues."
There are few issues:
 - [x] The URL for uploading the tgz archive must be the same as that for downloading the package,the domain name prefix needs to be dynamically combined during download. https://github.com/artipie/helm-adapter/issues/96
 - [x] A method for obtaining indexYaml based on the prefix needs to be added. #90
 - [x] IndexYaml need delete chart, please provide methods deleteByName an

[2021-01-10 18:49] genryxy opened #84 "Delete specified chart from index.yaml file"
It is necessary to support deleting of specified chart from `index.yaml` file within `IndexYaml` class. The methods `deleteByName` and `deleteByNameAndVersion` should be implemented and tested.

[2021-01-12 08:25] 0pdd opened #86 "IndexYaml.java:134-136: Remove duplicating code. There is..."
The puzzle `84-6dc281f6` from #84 has to be resolved:

https://github.com/artipie/helm-adapter/blob/3089ea716935645e06f6c9de47b9fca1571707aa/src/main/java/com/artipie/helm/metadata/IndexYaml.java#L134-L136

The puzzle was created by Aleksandr Krasnov on 11-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"d

[2021-01-12 08:25] 0pdd commented on #84
@genryxy the puzzle [#86](https://github.com/artipie/helm-adapter/issues/86) is still not solved.

[2021-01-12 12:21] #86 closed

[2021-01-12 12:21] 0pdd commented on #84
@genryxy the only puzzle [#86](https://github.com/artipie/helm-adapter/issues/86) is solved here.

[2021-01-12 13:23] 0crat commented on #86
Job `gh:artipie/helm-adapter#86` is not assigned, can't get performer

[2021-01-12 13:45] #84 closed

[2021-01-12 14:13] 0crat commented on #84
Job `gh:artipie/helm-adapter#84` is not assigned, can't get performer

[2021-01-15 07:15] genryxy opened #89 "Merging multiple `index.yaml` files"
It is necessary to provide a method to merge multiple `index.yaml` files.
See: https://helm.sh/docs/helm/helm_repo_index/ (with flag `--merge`)
Part of #83

[2021-01-15 07:16] 0crat commented on #89
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-15 07:18] genryxy opened #90 "Obtains `index.yaml` file based on the prefix"
It is necessary to provide a method for obtaining `index.yaml` based on the prefix needs to be added.
See: https://helm.sh/docs/helm/helm_repo_index/
Part of #83

[2021-01-15 07:20] 0crat commented on #90
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-21 08:54] #90 closed

[2021-01-21 08:54] 0pdd opened #94 "IndexByDirectory.java:107-111: Extract logic for creating..."
The puzzle `90-d6ead5a4` from #90 has to be resolved:

https://github.com/artipie/helm-adapter/blob/efe607f499cf124ad163a0a77b24eff5f15efd18/src/main/java/com/artipie/helm/metadata/IndexByDirectory.java#L107-L111

The puzzle was created by Aleksandr Krasnov on 21-Jan-21.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2021-01-21 08:55] 0pdd commented on #90
@genryxy the puzzle [#94](https://github.com/artipie/helm-adapter/issues/94) is still not solved.

[2021-01-21 09:14] 0crat commented on #90
Job `gh:artipie/helm-adapter#90` is not assigned, can't get performer

[2021-01-22 10:25] #89 closed

[2021-01-22 11:12] 0crat commented on #89
Job `gh:artipie/helm-adapter#89` is not assigned, can't get performer

[2021-01-28 17:15] olenagerasimova commented on #90
@rultor release, tag=`0.2`

[2021-01-28 17:15] rultor commented on #90
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24046-769239342)

[2021-01-28 17:31] rultor commented on #90
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24046-769239342) (took me 15min)

[2021-02-01 15:31] g4s8 commented on #83
@genryxy could you please decompose it into multiple tickets?

[2021-02-01 15:55] genryxy opened #96 "Combine dynamically URI for download with prefix"
The URL for uploading the tgz archive must be the same as that for downloading the package, the domain name prefix needs to be dynamically combined during download.
eg：
http://localhost:8080/artifactory/charts/path/**/tomcat-0.4.1.tgz
prefix: http://localhost:8080/artifactory/charts
path: /path/**/tomcat-0.4.1.tgz
Part of #83

[2021-02-01 16:04] genryxy opened #97 "Provide an example of invoking interface"
It is necessary to provide an example of invoking interface. Especially important for function that are not included in `HelmSlice` (e.g. deleting chart by name and by name with version, obtaining `index.yaml` for specific directory, merging two indexes).
The description for using this adapter with Spring instead of Vert.x should be given.
Part of #83

[2021-02-01 16:08] genryxy commented on #83
@g4s8 there are two items left from this list of requirements. Corresponding issues were created

[2021-02-12 13:39] #96 closed

[2021-02-17 15:26] g4s8 opened #100 "Scope"
Scope of work for Helm adapter:
- [x]  `curl PUT` tgz archive with chart
- [x] `helm install` (there is no IT that verifies the work of this basic command)
- [ ] `helm repo index` (class `IndexByDirectory` was created but it is not included to our API)
- [ ] `helm repo index --merge` (class `IndexMergingSlice` was created but it is not included to our API)
- [ ] remove chart #106
- [ ] reindex all

[2021-02-26 09:19] genryxy opened #102 "Add slice for index merging"
Now there is only `IndexMerging` class that is not used in any slice. So, it is quite difficult to use this class. `IndexMergingSlice` should be added. Don't forget about tests including concurrency scenario.

[2021-03-02 13:31] #102 closed

[2021-03-02 14:10] 0crat commented on #102
Job `gh:artipie/helm-adapter#102` is not assigned, can't get performer

[2021-03-04 12:40] 7Light opened #105 "ReIndex all packages in whole repo"
Maybe some bug or unexpected requirement scenarios make 'index.yml' broken or incorrect.
We need foreach all packages and calculate a correct 'index.yml'.

[2021-03-04 12:43] genryxy opened #106 "Add slice for removing package"
Add slice for removing package by name. In this case metadata related to all versions should be removed from index file.
Also, it is necessary to provide removing by name and version. In this case metadata for specific version should be removed from index file. Probably this example of [routing](https://stackoverflow.com/questions/53926841/is-there-any-way-to-clean-delete-some-older-packages-in-he

[2021-03-04 12:44] 7Light opened #107 "Content into memory maybe cause out of memory ：public TgzArchive(final byte[] content)"

[2021-03-16 08:25] 0pdd commented on #94
The puzzle `90-d6ead5a4` has disappeared from the source code, that's why I closed this issue.

[2021-03-16 08:25] #94 closed

[2021-03-16 08:25] 0pdd opened #108 "IndexYamlMapping.java:38-39: Residing this class in order..."
The puzzle `94-41d3f14c` from #94 has to be resolved:

https://github.com/artipie/helm-adapter/blob/8214645c611e44f84c38f30c342263ea97e57706/src/main/java/com/artipie/helm/metadata/IndexYamlMapping.java#L38-L39

The puzzle was created by andreoss on 16-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\

[2021-03-16 08:25] 0pdd commented on #90
@genryxy the puzzle [#108](https://github.com/artipie/helm-adapter/issues/108) is still not solved; solved: [#94](https://github.com/artipie/helm-adapter/issues/94).

[2021-03-16 08:25] 0pdd commented on #94
@0pdd the puzzle [#108](https://github.com/artipie/helm-adapter/issues/108) is still not solved.

[2021-03-16 09:26] 0crat commented on #94
Job [#94](https://github.com/artipie/helm-adapter/issues/94) is not in the agenda of @andreoss[/z](https://www.0crat.com/u/andreoss), can't set title

[2021-03-19 08:27] g4s8 opened #109 "Helm SDK methods"
Let's add batch-update for Helm index file and provide SDK methods similar to RPM repository.
Also, we'll need an optional parameter to disable index update on single package upload.

Progress:
- [x] Reader of index file for obtaining versions about charts
- [x] add packages, `add(Collection<Key>)`
  - [x] implementation
  - [x] tests
- [x] remove packages, `remove(Collection<Key>)`
  - [x] implem

[2021-03-25 05:47] g4s8 opened #110 "Helm - local repository"
Scope of work for local repository:
- [x]  `curl PUT` tgz archive with chart
- [x] `helm install` (there is no IT that verifies the work of this basic command)
- [x] remove chart #106
- [x] reindex all packages in whole repo #105
- [x] Helm SDK methods #109

 ~~`helm repo index` (class `IndexByDirectory` was created but it is not included to our API)~~ (this command does not generate any request b

[2021-03-25 05:47] g4s8 commented on #110
@genryxy could you please link here all tickets related to local registry?

[2021-03-25 05:47] #100 closed

[2021-03-25 06:23] 0crat commented on #100
Job `gh:artipie/helm-adapter#100` is not assigned, can't get performer

[2021-03-25 06:39] genryxy commented on #110
@g4s8 I added to the scope one ticket about batch update of index file

[2021-04-29 07:38] 0pdd opened #113 "Index.java:47-51: Replace parser with reactive version to..."
The puzzle `112-3bff32f1` from #112 has to be resolved:

https://github.com/artipie/helm-adapter/blob/3ee87c7aa11af8701d23c7151b98ea740fbd44f8/src/main/java/com/artipie/helm/metadata/Index.java#L47-L51

The puzzle was created by Alexander on 29-Apr-21.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2021-04-29 09:24] genryxy opened #115 "Refactoring to avoid code duplication"
Let's extract a class for obtaining date in specified format and class for obtaining empty index as it would be helpful for using in `Helm.Asto#add`

[2021-04-29 09:56] 0pdd opened #117 "Helm.java:61-64: Refactor Helm class. Now this class is..."
The puzzle `109-f9067b99` from #109 has to be resolved:

https://github.com/artipie/helm-adapter/blob/255f29226f44ad68baa7d4fd7d7290c75a44b1ec/src/main/java/com/artipie/helm/Helm.java#L61-L64

The puzzle was created by Alexander on 29-Apr-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2021-04-29 09:56] 0pdd commented on #109
@g4s8 the puzzle [#117](https://github.com/artipie/helm-adapter/issues/117) is still not solved.

[2021-04-29 11:28] #115 closed

[2021-05-13 06:33] g4s8 opened #121 "Helm benchmarks"
Add benchmarks for Helm SDK operations (like update, delete, etc) using JMH (similar to RPM or Debian). I'd recommend adding it in separate Maven project in subdirectory of this project (e.g. `./benchmarks`).

Progress
- [x] `remove` operation
- [x] `add` operation

[2021-05-14 12:49] #117 closed

[2021-05-17 13:12] 0pdd opened #134 "ChartsWriter.java:61-65: Extract classes for different..."
The puzzle `109-89820728` from #109 has to be resolved:

https://github.com/artipie/helm-adapter/blob/d3a9848710ecec438c59de0e2a626c00050f0382/src/main/java/com/artipie/helm/ChartsWriter.java#L61-L65

The puzzle was created by Alexander on 17-May-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-05-17 13:12] 0pdd commented on #109
@g4s8 2 puzzles [#117](https://github.com/artipie/helm-adapter/issues/117), [#134](https://github.com/artipie/helm-adapter/issues/134) are still not solved.

[2021-05-20 13:25] #134 closed

[2021-05-20 13:30] genryxy opened #139 "Add prefix for add and remove operations"
In general it is [possible](https://helm.sh/docs/howto/chart_repository_sync_example/#generate-an-updated-indexyaml) to generate index for local directory. So it can be necessary to pass prefix for `index.yaml` file to which some changes should be applied (e.g. add charts or remove them).

- [ ] prefix for add
- [x] prefix for remove

[2021-05-24 08:48] 0pdd commented on #109
@g4s8 all 2 puzzles are solved here: [#117](https://github.com/artipie/helm-adapter/issues/117), [#134](https://github.com/artipie/helm-adapter/issues/134).

[2021-05-24 11:47] genryxy opened #142 "Remove temporary directories"
It is necessary to remove temporary directories for `add` and `remove` operations. Pay attention to different paths execution (e.g. when an exception is thrown). Extend existed tests to verify that all these directories are removed

[2021-05-26 07:18] genryxy commented on #109
Close as `add` and `remove` were added

[2021-05-26 07:18] #109 closed

[2021-05-26 07:34] g4s8 commented on #109
@genryxy thanks

[2021-05-27 06:54] g4s8 opened #145 "Bump asto 1.0"
Update artipie/asto to `1.0.+` version with breaking changes: now `ArtipieException` is thrown in all methods instead of other exceptions, automatic update failed : https://github.com/artipie/helm-adapter/pull/144

[2021-05-28 14:46] #139 closed

[2021-06-03 13:53] g4s8 opened #150 "Check deps"
Check if we really need `vertx-web-client` dependency and update it if needed (#125 automated update failed)

[2021-06-03 13:54] #142 closed

[2021-06-04 08:59] #145 closed

[2021-06-04 09:01] genryxy commented on #145
@g4s8 could you please release a new version

[2021-06-17 14:09] #121 closed

[2021-06-21 07:54] genryxy opened #160 "Fix pom for benchmarks"
Now there are errors when try to start benchmarks from command line with message `jmh unable to find the resource /meta-inf/benchmarklist`. Although benchmarks could start from idea. It is need to fix pom to be able to start benchmarks from cmd

[2021-06-21 09:14] #160 closed

[2021-06-28 13:25] genryxy opened #164 "Refactor by removing code duplication"
Many test classes contain method `indexFromStrg(Key)` for obtaining content of index file from storage. Let's extract a class to remove this code duplication

[2021-07-01 08:51] #150 closed

[2021-07-02 05:23] #105 closed

[2021-07-02 07:52] #43 closed

[2021-07-02 07:52] 0pdd commented on #43
The puzzle `32-3ab761f4` has disappeared from the source code, that's why I closed this issue.

[2021-07-02 07:52] 0pdd commented on #89
@genryxy all 6 puzzles are solved here: [#31](https://github.com/artipie/helm-adapter/issues/31), [#32](https://github.com/artipie/helm-adapter/issues/32), [#40](https://github.com/artipie/helm-adapter/issues/40), [#41](https://github.com/artipie/helm-adapter/issues/41), [#42](https://github.com/artipie/helm-adapter/issues/42), [#43](https://github.com/artipie/helm-adapter/issues/43).

[2021-07-02 07:52] 0pdd commented on #32
@0pdd all 4 puzzles are solved here: [#40](https://github.com/artipie/helm-adapter/issues/40), [#41](https://github.com/artipie/helm-adapter/issues/41), [#42](https://github.com/artipie/helm-adapter/issues/42), [#43](https://github.com/artipie/helm-adapter/issues/43).

[2021-07-02 10:05] genryxy opened #169 "Add benchmark for `reindex` and report results about all benchmarks to repo"
There are benchmarks for `add` and `remove` operation, but no results were published to repo. It is necessary to publish this results.
Also method for reindexing whole repository was added. Let's add benchmark for this one and corresponding results

[2021-07-02 12:27] #164 closed

[2021-07-05 09:23] #106 closed

[2021-07-05 09:30] genryxy commented on #110
@g4s8 all issues from this ticket are solved now. It could be closed

[2021-07-05 10:56] g4s8 commented on #110
@genryxy thanks

[2021-07-05 10:56] #110 closed

[2021-07-05 11:11] genryxy commented on #110
@g4s8 could you please release a new version

[2021-07-05 11:42] g4s8 opened #174 "v1.0"
1.0 release:
    - feat: #141 - Finished implementation of Helm SDK API (add and remove methods)
    - BREAKING CHANGE: #110 - Public class IndexByDirectory was removed
    - feat: #115 - Reindex all packages in whole repo
    - feat: #106 - Added slice for deleting chart by name or by name and version
    - BREAKING CHANGE: #110 - Public class IndexMergingSlice was removed

[2021-07-05 11:54] g4s8 commented on #174
Release: https://github.com/artipie/helm-adapter/releases/tag/v1.0

[2021-07-05 11:55] g4s8 commented on #110
@genryxy done: https://github.com/artipie/helm-adapter/issues/174

[2021-07-05 11:59] #169 closed

[2021-07-13 11:06] genryxy opened #180 "Limit objects to standard Java objects for yaml serialization"
Let's pass instance of `SafeConstructor` to limit deserialized objects to standard Java objects.

[2021-07-13 12:00] genryxy opened #182 "Fix dependencies"
Now, Helm has the next tree of dependencies
[code]

Problems:
- **high-risk vulnerabilities**
  - `log4j/log4j/1.2.17` --- (test dep)
  - `com.fasterxml.jackson.core/jackson-databind/2.10.2` --- (could be excluded)
  - `io.vertx/vertx-core/3.9.2` --- (got from asto, will be bumped to `4.1.1`)

- **high-risk license** (submitted license fix for all except `io.vertx/vertx-reactive-streams`)
  -  `io

[2021-07-13 12:39] #29 closed

[2021-07-13 12:39] 0pdd commented on #12
@Sammers21 all 6 puzzles are solved here: [#17](https://github.com/artipie/helm-adapter/issues/17), [#19](https://github.com/artipie/helm-adapter/issues/19), [#20](https://github.com/artipie/helm-adapter/issues/20), [#21](https://github.com/artipie/helm-adapter/issues/21), [#26](https://github.com/artipie/helm-adapter/issues/26), [#29](https://github.com/artipie/helm-adapter/issues/29).

[2021-07-13 12:39] 0pdd commented on #19
@0pdd the only puzzle [#29](https://github.com/artipie/helm-adapter/issues/29) is solved here.

[2021-07-13 12:43] #180 closed

[2021-07-16 12:19] 0pdd commented on #113
The puzzle `112-3bff32f1` has disappeared from the source code, that's why I closed this issue.

[2021-07-16 12:19] 0pdd opened #187 "Index.java:43-46: Replace parser with reactive version to..."
The puzzle `112-f1a0e802` from #112 has to be resolved:

https://github.com/artipie/helm-adapter/blob/98b4c8959e8aa32719cb69b549ec4d82a0685933/src/main/java/com/artipie/helm/metadata/Index.java#L43-L46

The puzzle was created by @g4s8 on 13-May-21.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-07-16 12:21] genryxy commented on #187
Closes as duplicate of #113

[2021-07-16 12:21] #187 closed

[2021-07-16 15:58] 0pdd opened #188 "HelmAstoReindexTest.java:52-56: Fix reindex operation...."
The puzzle `113-8cba5db4` from #113 has to be resolved:

https://github.com/artipie/helm-adapter/blob/360e586065cc334a6312f43dcbeee6cdbd7c2630/src/test/java/com/artipie/helm/HelmAstoReindexTest.java#L52-L56

The puzzle was created by Alexander on 16-Jul-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2021-07-16 15:58] 0pdd commented on #113
@0pdd the puzzle [#188](https://github.com/artipie/helm-adapter/issues/188) is still not solved.

[2021-07-19 13:16] #113 closed

[2021-07-26 09:28] genryxy opened #194 "Performance improvement"
Performance of three main operations of Helm SDK API has decreased after in version `1.0.1`. It is necessary to investigate this problem, to find some bottlenecks and eliminate them. VisualVM could be used for profiling and sampling

[2021-07-29 16:51] g4s8 commented on #194
@genryxy you may want to check streaming YAML parser by Jackson: https://github.com/FasterXML/jackson-dataformats-text/tree/master/yaml

[2021-08-12 05:49] genryxy opened #198 "Add script for appending results of benchmarks to README"
Now it is necessary to manually add results of benchmarks to README. Let's add script which will be triggered after uploading results of a new version. GitHub actions could be used

[2021-08-12 07:41] #198 closed

[2021-08-13 11:20] genryxy commented on #194
Performance was improved according to this [table](https://github.com/artipie/helm-adapter/tree/master/benchmarks/results). And version [`v.1.1.1`](https://github.com/artipie/helm-adapter/releases/tag/v1.1.1) was released

[2021-08-13 11:20] #194 closed

[2021-08-16 04:09] genryxy opened #202 "Short licence"
Let's add `LICENSE.header` and use short license in the files header.

[2021-08-16 06:25] #202 closed

[2021-09-06 12:41] genryxy commented on #182
Closed as problems with high-risk vulnerabilities were solved and a new version [`v1.1.1`](https://github.com/artipie/helm-adapter/releases/tag/v1.1.1) was released.

[2021-09-06 12:41] #182 closed

[2021-09-28 08:26] genryxy opened #215 "Add action for benchmark"
You need to add action for running benchmarks automatically after pushing a new tag for release. Results should be published in benchmarks folder of this repository.

[2021-11-02 14:31] #215 closed

[2022-01-24 08:35] genryxy commented on #97
This repository contains `Helm` interface which is an entrypoint for using SDK operations. It provides basic operations for working with metadata.
If you need to use http approach to interact with repository, you should use `HelmSlice` class.

[2022-01-24 08:35] #97 closed

[2022-01-24 08:35] #83 closed

[2022-07-07 09:50] 0pdd opened #275 "PushChartSlice.java:36-39: Create an integration test We..."
The puzzle `13-689377f9` from #13 has to be resolved:

https://github.com/artipie/helm-adapter/blob/7e38174ca62064795a78f209c597d30a7c398923/src/main/java/com/artipie/helm/http/PushChartSlice.java#L36-L39

The puzzle was created by @dgarus on 07-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2022-07-07 09:50] 0pdd opened #276 "IndexYamlMapping.java:20-22: Residing this class in order..."
The puzzle `94-16cdbbc5` from #94 has to be resolved:

https://github.com/artipie/helm-adapter/blob/7e38174ca62064795a78f209c597d30a7c398923/src/main/java/com/artipie/helm/metadata/IndexYamlMapping.java#L20-L22

The puzzle was created by @dgarus on 07-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2022-07-29 10:33] #275 closed

[2022-07-29 10:33] 0pdd commented on #275
The puzzle `13-689377f9` has disappeared from the source code, that's why I closed this issue.

[2022-07-29 10:33] #276 closed

[2022-07-29 10:33] 0pdd commented on #276
The puzzle `94-16cdbbc5` has disappeared from the source code, that's why I closed this issue.